.auth-top-button:hover {
  background: transparent !important;
  color: transparent !important;
  overflow: hidden;
  border: 0 !important;
}
.auth-top-button:hover::after {
  display: inline-flex;
  content: '重新选择';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
